.App {
  text-align: center;
  padding-top: 40px;
  background-color: rgb(41, 42, 56);
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}

.title {
  color: white;
}

.chocobos-container {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bigger-showcase {
  color: rgb(41, 42, 56);
  background-color: #7fc3e7;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.number-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.chocobo-showcase {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sim-button {
  border-radius: 10px;
  background-color: #61dafb;
  border-color: #61dafb;
  padding: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chocobo-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.gender-input {
  height: auto;
  width: 240px;
}

.gender-input>input {
  width: 80px;
}

.chocobo-parent-card {
  display: flex;
  flex-direction: column;
}

.grandparents-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.showcase {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.chocobo-stat-inputs>.input-pair {
  display: flex;
  justify-content: space-between;
}

.chocobo-stat-inputs>.input-pair>input {
  width: 20px;
}

.chocobo-stat-inputs {
  display: flex;
  flex-direction: column;
}

.bird {
  padding: 10px;
  border-radius: 20px;
}

.bird1 {
  background-color: #FFB3B3;
  /* Pale Red */
}

.bird2 {
  background-color: #FFD9B3;
  /* Pale Orange */
}

.bird3 {
  background-color: #FFFFB3;
  /* Pale Yellow */
}

.bird4 {
  background-color: #B3FFB3;
  /* Pale Green */
}

.bird5 {
  background-color: #B3E5FF;
  /* Pale Blue */
}

.bird6 {
  background-color: #D1B3FF;
  /* Pale Indigo */
}

.bird7 {
  background-color: #E6B3FF;
  /* Pale Violet */
}

.bird8 {
  background-color: #FFCCE5;
  /* Pale Pink */
}

.bird9 {
  background-color: #B3FFFF;
  /* Pale Turquoise */
}

.bird10 {
  background-color: #FFE5B3;
  /* Pale Gold */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}